@charset "shift_jis"; 

/* åüèÿóp 
  * { border: 1px solid orange }
  * * { border: 2px solid green }
  * * * { border: 2px solid orange }
  * * * * { outline: 2px solid blue }
  * * * * * { outline: 1px solid red }
  * * * * * * { outline: 1px solid green }
  * * * * * * * { outline: 1px solid orange }
  * * * * * * * * { outline: 1px solid blue }
*/


/* layout
---------------------------------------------------------------------- */

	body {
		position: relative;
		background: url(../images/bg_wood.jpg) top left repeat;
	}
	#bg-note {
		background: url(../images/bg_note.png) repeat-y;
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -3;
	}
	#container {
		margin: 100px 0 0 120px;
	}
	#header h1 a {
	}
	#header,
	#header h1 a,
	#nav-sub h3,
	#nav ul li a {
		font-family: 'Nothing You Could Do', cursive;
		color: #000;
		text-decoration: none;
		font-weight: normal;
	}
	#header h1 a {
		font-size: 40px;
		text-decoration: none;
	}
	#header .discription {
		font-size: 8px;
		margin: 10px 0 0 0;
	}
	
	#nav-sub {
		position: fixed;
		top: 80px;
		left: 500px;
		text-align: right;
	}
	#nav-sub ul {
		margin: 0 0 20px 0;
	}
	#nav-sub ul a.b_wood {
		display: block;
		font-size: 8px;
		background: url(../images/tape_wood.png) no-repeat;
		width: 106px;
		height: 30px;
		padding: 10px 0 0 0;
		text-align: center;
		margin: 0 0 0 0;
		color: #fff;
		text-decoration: none;
		font-weight: bold;
	}
	
	#nav {
		margin: 50px 0 0 0;
	}
	#nav ul li {
		float: left;
		display: block;
		font-size: 16px;
	}
	#nav ul li a {
		text-decoration: underline;
	}
	#nav ul li a:hover {
		text-decoration: none;
	}
	#nav ul li.sla{
		margin: 0 4px 0 6px;
	}
	#breadlist {
		clear: both;
	}
	#items {
		margin: 80px 0 0 0;
	}
	#items-inner {
		width: 320px;
	}
	
	.item h2,
	.item h3 {
		font-weight: normal;
		line-height: 1.6em;
		margin: 20px 0 0 0;
	}
	.item h2 {
		font-size: 20px;
	}
	.item h2 a {
		color: #000;
		text-decoration: none;
	}
	.item h3 {
		font-size: 14px;
	}
	
	.item .tx {
		margin: 20px 0 0 0;
		line-height: 1.8em;
	}
	.item .date {
		font-size: 8px;
		background: url(../images/tape.png) no-repeat;
		width: 106px;
		height: 36px;
		padding: 10px 0 0 0;
		text-align: center;
		margin: 0 0 0 0;
	}
	
	#footer {
		margin: 60px 0 20px 0;
	}
	#footer-inner {
		font-size: 8px;
	}

